.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 15px;
    color: black;
}
body{
    background-size: cover;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
}
.disk_img{
    width: 200px;
    border-radius: 100px;
}
.song_info{
    font-size: 23px;
    margin: 15px;
}
.song1{
    float: left;
}
.song2{
    float: right;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
}
